.contact {
    padding: .5em;
    background-color: #ccc;
    font-family: 'Tajawal', sans-serif;
}
.contact-form {
    display: flex;
    flex-direction: column;
}
.text-input {
    margin: .2em;
    border-radius: 5px;
    border: #ccc solid 1px;
    resize: none;
    padding: 1em;
    font-size: 1em;
}
.submit-button {
    width: 100%;
    padding: 1em;
    margin: .5em 0;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px #888;
}
.submit-button:hover {
    background-color: #999;
    color: #fff;
}